# Concatenate columns in pandas

In [ ]:
import pandas as pd

In [5]:
airno2 = pd.read_csv("../Data/air_quality_no2_long.csv")
airno2 = airno2[["date.utc", "location","parameter", "value"]]
airno2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [ ]:
airpm25 = pd.read_csv("air_quality_pm25_long.csv")
airpm25 = airpm25[["date.utc", "location","parameter", "value"]]
airpm25.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [ ]:
air = pd.concat([airno2,airpm25],axis=0)
air

                       date.utc            location parameter  value
0     2019-06-21 00:00:00+00:00             FR04014       no2   20.0
1     2019-06-20 23:00:00+00:00             FR04014       no2   21.8
2     2019-06-20 22:00:00+00:00             FR04014       no2   26.5
3     2019-06-20 21:00:00+00:00             FR04014       no2   24.9
4     2019-06-20 20:00:00+00:00             FR04014       no2   21.4
...                         ...                 ...       ...    ...
1105  2019-05-07 06:00:00+00:00  London Westminster      pm25    9.0
1106  2019-05-07 04:00:00+00:00  London Westminster      pm25    8.0
1107  2019-05-07 03:00:00+00:00  London Westminster      pm25    8.0
1108  2019-05-07 02:00:00+00:00  London Westminster      pm25    8.0
1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0

[3178 rows x 4 columns]

#### The concat() function performs concatenation operations of multiple tables along one of the axes (row-wise or column-wise).

By default concatenation is along axis 0, so the resulting table combines the rows of the input tables.

In [ ]:
air.sort_values("date.utc")

                       date.utc            location parameter  value
1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
100   2019-05-07 01:00:00+00:00             BETR801      pm25   12.5
...                         ...                 ...       ...    ...
2     2019-06-20 22:00:00+00:00             FR04014       no2   26.5
102   2019-06-20 23:00:00+00:00  London Westminster      pm25    7.0
1     2019-06-20 23:00:00+00:00             FR04014       no2   21.8
101   2019-06-21 00:00:00+00:00  London Westminster      pm25    7.0
0     2019-06-21 00:00:00+00:00             FR04014       no2   20.0

[3178 rows x 4 columns]